# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------
# Virtual Environment
# --------------------
.venv/
venv/
env/

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# Logs
# --------------------
*.log

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.iml

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Test / Coverage
# --------------------
.pytest_cache/
.coverage
htmlcov/

# --------------------
# Build / Dist
# --------------------
build/
dist/
*.egg-info/
